In [2]:
import pandas as pd
import zipfile

In [28]:
df1 = pd.read_csv("ratings.csv")
df1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [30]:
df2 = pd.read_csv("movies.csv")
df2.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
df = pd.merge(df1, df2, on='movieId')

df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [36]:
df['year'] = df['title'].str.extract(r'\((\d{4})\)')

df.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,1995
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,1995
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [46]:
df_2005 = df[df['year'] == '2005']
best_genres_2005 = df_2005.groupby('genres')['rating'].mean().sort_values(ascending=False)
print("Mejores géneros en 2005 por calificación promedio:")
best_genres_2005.head()

Mejores géneros en 2005 por calificación promedio:

genres
Animation|Children|Comedy|Fantasy    5.00
Comedy|War                           5.00
Comedy|Drama|Musical                 4.75
Comedy|Documentary|Romance           4.50
Comedy|Drama|War                     4.50
Name: rating, dtype: float64

In [45]:
top_5_movies = df.groupby('title')['rating'].mean().sort_values(ascending=False).head(5)
print("Top 5 películas mejor rankeadas:")
top_5_movies

Top 5 películas mejor rankeadas:
title
Match Factory Girl, The (Tulitikkutehtaan tyttö) (1990)    5.0
Meantime (1984)                                            5.0
Decalogue, The (Dekalog) (1989)                            5.0
Stand, The (1994)                                          5.0
Big Top Scooby-Doo! (2012)                                 5.0
Name: rating, dtype: float64

In [47]:
most_reviewed_genre = df['genres'].value_counts().idxmax()
print("Género con más reviews:")
most_reviewed_genre

Género con más reviews:

'Comedy'

In [48]:
df_2000_2010 = df[(df['year'] >= '2000') & (df['year'] <= '2010')]
best_genre_by_year = df_2000_2010.groupby(['year', 'genres'])['rating'].mean().reset_index()
best_genre_each_year = best_genre_by_year.loc[best_genre_by_year.groupby('year')['rating'].idxmax()]
print("Mejor género por año entre 2000 y 2010:")
best_genre_each_year[['year', 'genres', 'rating']]

Mejor género por año entre 2000 y 2010:

      year                              genres  rating
56    2000                Comedy|Drama|Fantasy     5.0
148   2001              Animation|Comedy|Drama     5.0
288   2002              Comedy|Fantasy|Romance     5.0
366   2003           Action|Drama|Thriller|War     5.0
507   2004              Adventure|Comedy|Drama     5.0
630   2005   Animation|Children|Comedy|Fantasy     5.0
746   2006                     Animation|Drama     5.0
878   2007           Comedy|Crime|Drama|Horror     5.0
963   2008         Action|Comedy|Drama|Romance     5.0
1069  2009  Action|Adventure|Animation|Fantasy     5.0
1253  2010   Adventure|Children|Comedy|Mystery     5.0

In [49]:
most_active_user = df['userId'].value_counts().idxmax()
user_favorite_genre = df[df['userId'] == most_active_user]['genres'].value_counts().idxmax()
print(f"El usuario con más críticas es {most_active_user} y su género favorito es {user_favorite_genre}.")

El usuario con más críticas es 414 y su género favorito es Drama.